.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto;
  padding: 60px;
  align-items: start;
  grid-column-gap: 10px;
  margin: 50px auto 0 auto;
  grid-row-gap: 30px;
  }

.column {
  text-align: justify;
  line-height: 1.4;
}

.photo-column {
  display: grid;
  grid-column: 2/ span 4;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  min-width: 300px;
  max-width: 450px;
  border-radius: 80px;
  justify-self: center;
}

.detail-presentation {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.detail-pseudo{
  font-size: 18px;
  margin-top: 0;
}

.column-presentation {
  grid-column: 8/ span 5;
  }

.column-realisation{
  grid-column: 9/ span 4;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  margin-left: 0;
}

.column-pratiques {
  grid-column: 3 / span 5;
}

.photo {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
/*responsive écran jusqu'à 920px--------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 920px) {
  .grid {
    grid-template-columns: 1fr;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
  }

 .photo-column{
   grid-column: 1;
   grid-template-columns: 1fr;
   justify-items: center;
   }

  .column-presentation{
   grid-column: 1;
   }

  .column-pratiques{
    grid-column: 1;
    }

  .column-realisation{
   grid-column: 1;
   }

  .detail-presentation{
    justify-content: center;
    }
}

/*responsive écran jusqu'à 400px-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    }

  .photo-column {
    grid-column: 1;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .detail-pseudo {
   }

  .detail-presentation{
    margin-bottom: 0;

  }
  .column-presentation {
    grid-column: 1;
    font-size: 12px;
  }

  .column-pratiques {
    grid-column: 1;
    font-size: 12px;
  }

  .column-realisation {
    grid-column: 1;
    font-size: 12px;
  }

  .photo {
    height: 150px;
    width: 150px;
  }

  .detail-presentation{
    justify-content: center;
  }
}
