<div class="container1">
<img class="avatarList" [src]="user.avatarUrl">
<p class="detail" mat-line>{{'Nom :'+ ' ' +user.nom}}</p>
<p class="detail" mat-line>{{'Prenom :'+ ' ' +user.prenom}}</p>
<p class="detail" mat-line>{{'Pseudo :'+ ' ' +user.pseudo}}</p>
<p class="detail" mat-line>{{'Date de naissance :'+ ' ' +user.dateDeNaissance}}</p>
</div>
<div class="container2">
<p class="detail" mat-line>{{'Présentation :'+ ' ' +user.presentation}}</p>
<p class="detail" mat-line>{{'Commentaires :'+ ' ' +user.commentaires}}</p>
</div>
<app-retour></app-retour>

