<div class="grid" *ngIf="user">
  <div class="column photo-column">
    <div class="photo" [ngStyle]="{'background-image': 'url('+ user.avatarUrl + ')'}"></div>
    <div class="detail-presentation">
      <p class="detail">{{user.prenom | titlecase}} {{user.nom | titlecase}}</p>
      <p class="detail-pseudo">{{'Pseudo :' + ' ' + user.pseudo}}</p>
    </div>
  </div>
  <div class="column column-presentation">
    <h3>Présentation</h3>
    <p class="detail">{{user.presentation}} </p>
  </div>
  <div class="column column-pratiques">
    <h3>Bonne pratiques</h3>
    <p class="detail">{{user.commentaires}} </p>
  </div>
  <div class="column-realisation">
  <div *ngIf="projets && projets.length" class="projets-list">
    <h3>Réalisations</h3>
    <ul class="projets" *ngFor="let projet of projets">
      <li>{{projet.nom}}</li>
    </ul>
  </div>
  </div>
</div>

