.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto;
  padding: 60px;
  align-items: start;
  grid-column-gap: 10px;
  margin: 50px auto 0 auto;
  grid-row-gap: 30px;
  }

.column {
  text-align: justify;
  line-height: 1.4;
}

.photo-column {
  display: grid;
  grid-column: 2/ span 4;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  min-width: 300px;
  max-width: 450px;
  border-radius: 80px;
  justify-self: center;
}

.detail-presentation {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.detail-pseudo{
  font-size: 18px;
  margin-top: 0;
}

.column-presentation {
  grid-column: 8/ span 5;
  }

.column-realisation{
  grid-column: 9/ span 4;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  margin-left: 0;
}

.column-pratiques {
  grid-column: 3 / span 5;
}

.photo {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@media (max-width: 360px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .photo-column{
    grid-template-columns: 1fr;
  }
  .column-pratiques{
    grid-template-columns: 1fr;
    word-wrap:break-word;
  }
  .column-realisation{
    grid-template-columns: 1fr;
  }

}
