.page-container {
  max-width: 450px;
  margin: 0 auto;
}
.form-content {
  padding: 20px;
}
.mat-title {
  text-align: center;
  background-color: #3F51B5;
  color: white;
  padding: 10px 0;
}
mat-radio-group {
  margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
input {
  width: 100%;
  display: block;
}

button {
  margin: 0 0 10px 0;
}
mat-form-field {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  button {
    padding: 6px 0 6px 0;
    font: bold 9px Arial;
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    width: 60px;
    border: none;
    margin: 0 auto;
  }

  .page-container {
    max-width: 250px;
    margin: 0 auto;
    font-size: 10px;
  }

}

