.project-container {
  width: 360px;
  margin: 30px auto;
}
.small-container {
  width: 450px;
  text-align: center;
}
.medium-container {
  width: 600px;
}
.title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: lightgray;
  width: 100%;
  color: #333333;
}
.project  {
  padding: 20px;
}
.project-title {
  font-weight: 400;
  text-decoration: underline;
}

.descriptif {
  margin: 10px 0 0 0;
  color: dimgrey;
  font-weight: 600;
  font-style: italic;
}
.element {
  margin-left: 15px;
  font-weight: 100;
}

