.container {
  padding-top: 50px;
  margin: 0 auto;
}
.container-projet {
  min-width: 320px;
  max-width: 660px;
  background-color: lightgray;
}

.card-header {
  border-bottom:1px white solid;
  width: 100%;
}
.list-container {
  width: 100%;
  padding: 2px;
}
.mat-headline, .mat-subheading-2{
  margin: 0 auto;
  background-color: #818284;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.title-small {
  border: none;
  border-radius: 0;

}
