<div *ngIf="promo">
  <div class="mat-display-2">{{promo.specialite | titlecase }} {{ promo.anneeFin }}</div>

  <div *ngIf="promo.apprenants.length > 0" fxLayout="column" fxLayoutAlign="start center" class="apprenant-list">
    <div class="mat-title">Apprenants</div>
    <app-list-utilisateur [utilisateurs]="promo.apprenants"></app-list-utilisateur>
  </div>
  <div *ngIf="promo.formateurs.length > 0" fxLayout="column" fxLayoutAlign="start center">
    <div class="mat-title">Formateur</div>
    <app-list-utilisateur [utilisateurs]="promo.formateurs"></app-list-utilisateur>
  </div>

</div>
