<div *ngIf="promo" fxLayout="column" fxLayoutAlign="start center" class="mat-typography container">
  <h1>{{promo.specialite.toUpperCase() + ' ' + promo.anneeFin + ':'}}</h1>

  <mat-list *ngIf="promo.apprenants.length > 0" fxLayout="row">
    <h3>Apprenants:</h3>
    <mat-list-item *ngFor="let apprenant of promo.apprenants">
      <app-appercu-utilisateur [utilisateur]="apprenant"></app-appercu-utilisateur>
    </mat-list-item>
    <h3>Formateurs:</h3>
    <mat-list-item *ngFor="let formateur of promo.formateurs">
      <app-appercu-utilisateur [utilisateur]="formateur"></app-appercu-utilisateur>
    </mat-list-item>
  </mat-list>
</div>
