.card {
  cursor: pointer;
  padding: 4px;
  width: 250px;
  margin: 5px;
}

.photo {
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  padding: 15px 0;
}
