<div class="mat-display-2">Galerie</div>
<mat-radio-group fxHide.xs="true" class="filtre" [(ngModel)]="filter" (change)="filterPhotos()">
      <mat-radio-button color="primary" value="toutes">Toutes les photos</mat-radio-button>
      <mat-radio-button *ngFor="let categorie of categories" color="primary" [value]="categorie">{{categorie | titlecase}}</mat-radio-button>
</mat-radio-group>
<mat-form-field fxHide.gt-xs="true" >
  <mat-label>Sélectionner par</mat-label>
  <mat-select (selectionChange)="filterPhotos()" [(ngModel)]="filter" >
    <mat-option value="toutes">Toutes</mat-option>
    <mat-option *ngFor="let categorie of categories" [value]="categorie">
      {{categorie | titlecase}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="card-list" *ngIf="photos$ | async as photos">
  <app-card *ngFor="let photo of photos" [text]="photo.nom" [link]="['/galerie', photo.id]" [photo]="photo.imageUrl">
  </app-card>
</div>

