.container {
  max-width: 920px;
  margin: 0 auto;
}
h1{
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}
.choix-catégorie~.choix-catégorie{
  margin-left: 10px;
}
.choix-filtre{
  margin: 0 auto;
}
