mat-toolbar {
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 20;
  color: white;
  background: #333333;

}

.brand {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: x-large;
}
.nav {
  width: 100%;
  height: 100%;
}
.mat-headline, .mat-small {
  cursor: pointer;
  margin: 0 15px 0 0;

}
@media (max-width: 360px) {
  .mat-small {
    margin: 0 8px 0 0;
  }
}

