<mat-toolbar class="mat-elevation-z6 navbar">
  <div class="brand" fxHide.lt-md="true">Les Promos Simplon</div>

  <div fxLayout="row" fxLayoutAlign.gt-sm="flex-end center" class="nav" fxLayoutAlign="space-between center ">

    <a mat-button routerLink="/">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'">Accueil</span>
    </a>
    <a mat-button routerLink="/utilisateur">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'">Utilisateur</span>
    </a>
    <a mat-button [matMenuTriggerFor]="promos">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'">Promo</span>
    </a>
    <a mat-button routerLink="/projet">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'" >Projets</span>
    </a>
    <a mat-button routerLink="/galerie">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'">Galerie</span>
    </a>
    <a *ngIf="!auth.isLoggedIn()" mat-button routerLink="/connexion">
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'">Connexion</span>
    </a>
    <a *ngIf="auth.isLoggedIn()" mat-button>
      <span class="mat-headline" [ngClass.lt-sm]="'mat-small'" [matMenuTriggerFor]="profil">Profil</span>
    </a>
    <mat-menu #promos="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="webdev" *ngIf="web">Développeur Web</button>
      <button mat-menu-item [matMenuTriggerFor]="cybersecu" *ngIf="cyber">Cyber sécurité</button>
    </mat-menu>
    <mat-menu #webdev="matMenu">
      <button *ngFor="let promo of web" [routerLink]="['/promo', promo.specialite, promo.nom]" mat-menu-item>{{promo.nom}}</button>
    </mat-menu>
    <mat-menu #cybersecu="matMenu">
      <button *ngFor="let promo of cyber" [routerLink]="['/promo', promo.specialite, promo.nom]" mat-menu-item>{{promo.nom}}</button>
    </mat-menu>

    <mat-menu #profil="matMenu">
      <button routerLink="/profil" mat-menu-item>Profil</button>
      <button (click)="auth.logout()" mat-menu-item>Déconnexion</button>
    </mat-menu>
</div>


</mat-toolbar>
