<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div class="brand">PromosPro</div>
  <div class="nav" >
    <a mat-button>Accueil</a>
    <a mat-button>Utilisateur</a>
    <a mat-button [matMenuTriggerFor]="promo">Promo</a>
    <mat-menu #promo="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="devWeb">Développeur Web</button>
      <button mat-menu-item [matMenuTriggerFor]="cybersecu">Cyber sécurité</button>
    </mat-menu>
    <mat-menu #devWeb="matMenu">
      <button mat-menu-item ="1">Promo 1</button>
      <button mat-menu-item ="2">Promo 2</button>
      <button mat-menu-item ="3">Promo 3</button>
      <button mat-menu-item ="4">Promo 4</button>
    </mat-menu>
    <mat-menu #cybersecu="matMenu">
      <button mat-menu-item ="1">Promo 1</button>
    </mat-menu>
    <a mat-button>Projets</a>
    <a mat-button>Galerie</a>
    <a mat-button>Connexion</a>
</div>
</mat-toolbar>
