
<div *ngIf="!isLoading; else spinner">
  <div class="mat-display-2"></div>
  <div class="card-list" *ngIf="user$ | async as user; else spinner">
    <app-card [text]="photo.nom" [link]="['/galerie', photo.id]" [photo]="photo.imageUrl"
              *ngFor="let photo of user.photos">
      <button title="" mat-raised-button (click)="deletePhoto(photo.id)" color="primary">Supprimer</button>
    </app-card>
  </div>

</div>
<ng-template #spinner>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>

<app-retour fxLayoutAlign="center"></app-retour>
