.mat-display-2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
button {
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  justify-content: center;

}
.mat-button-wrapper{
  text-align: center;
}
mat-spinner {
  margin: 0 auto;
}



