.container {
  border: 1px lightgray solid;
  margin-top: 32px;
}
.div-img{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px white solid;
  border-bottom: none;
  z-index: 1;

}
.appercu{
  text-align: center;
  background-color: #212224;
  color: white;
  padding: 15px 10px;
  margin: 0;
  border: 2px white solid;
  border-top: none;
  z-index: 0;
}
