.page {
  height: 80vh;
}

.form-container {
  border-radius: 10px;
  max-width: 400px;
  padding-bottom: 20px;
}

.form-content {
  padding: 30px;
}
mat-form-field {
  width: 100%;
}

.form-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3F51B5;
  padding: 10px;
  text-align: center;
  color: white;
}

.mat-small {
  text-align: right;
  color: #FF4081;
  cursor: pointer;
}
