.list-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

.card {
  margin-top: 10px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}
.avatar {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 60%;
  border: 1px lightgray solid;
}
.nomPrenom {
  text-align: center;
  font-weight: 500;
}
.pseudo {
  text-align: center;
}
