.container{
  width: 360px;
  margin: 0 auto;
}
mat-form-field {
  width: 100%;
}
mat-radio-button ~ mat-radio-button {
  margin-left: 10px
}
.preview {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 0 auto 20px auto;
  border: 2px lightgray solid;
}
