<div class="container">

  <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
      <mat-form-field *ngIf="!profile">
        <mat-label>Catégorie</mat-label>
        <mat-select  formControlName="categorie">
          <mat-option *ngFor="let categorie of categories" [value]="categorie">
            {{categorie}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div *ngIf="photoFile" [ngStyle]="{'background-image': 'url('+ photoUrl + ')'}" class="preview"></div>
    <mat-form-field *ngIf="!profile">
      <input type="text" matInput placeholder="Donnez un nom à votre photo" formControlName="nom">
      <mat-error *ngIf="f.nom.errors && (f.nom.dirty || f.nom.touched)">
        <span *ngIf="f.nom.errors.required">Un nom est requis</span>
      </mat-error>
    </mat-form-field>
    <input type="file" placeholder="Maximum 5Mo" (change)="onFileSelected($event.target.files)" class="file-input">
    <button mat-raised-button color="primary" type="submit">Envoyer</button>
  </form>

</div>

