.grid{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 25px);
  background: rgba(17, 17, 23, 0.32);
  width: 100%;
}

img {
  grid-column: 16/ span 1;
  height: 27px;
  cursor: pointer;
  grid-row: 3;
  margin: 0 0 0 30px;
}

p {
  font-size: 15px;
  cursor: pointer;
  margin: 0px;
  color: black;
  grid-column: 14/ span 2;
  grid-row: 3;
  text-align: right;
  }

a {
  text-align: left;
}

.accueil{
  grid-column: 2 /span 1;
  grid-row: 2;
  font-size: 14px;
}

.utilisateur{
  grid-column: 3 /span 1;
  grid-row: 2;
  font-size: 14px;
}

.promo{
  grid-column: 4 /span 1;
  grid-row: 2;
  font-size: 14px;
}

.projet{
  grid-column: 2 /span 1;
  grid-row: 3;
  font-size: 14px;
}

.galerie {
  grid-column: 3 /span 1;
  grid-row: 3;
  font-size: 14px;
}

.connexion{
  grid-column: 4 /span 1;
  grid-row: 3;
  font-size: 14px;
}

@media (max-width: 920px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

  }
 img{
   grid-column: 2/ span 1;
   text-align: center;
    }

  p{
    grid-column: 1/ span 1;
    text-align: center;
     }
}


