/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/theming';
/*
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
$font-family: 'Lato, sans-serif',

);

 */
html, body { height: 100%;}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  padding-bottom: 60px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}
