/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/theming';
/*
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
$font-family: 'Lato, sans-serif',

);

 */
html, body { height: 100%;}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: white;
  color: black;
}

h1,h2,h3,h4,h5,h6,.mat-title,.mat-headline,.mat-subheading-1,.mat-subheading-2,.mat-typography, .mat-display-2,.mat-display-3,.mat-display-4 {
  font-family: 'Lato', sans-serif;
}
.mat-body,.mat-body-1,.mat-body-2,.mat-body-strong,.mat-small,.mat-caption{
  font-family: 'Merriweather', serif;
}
.mat-snack-bar-container {
  background-color: red;
  color: white;
}
.mat-snack-bar-container .mat-simple-snackbar {
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 920px;
  margin: 0 auto;
  padding: 5px;
}
