<div class="banner">
  <div class="mat-display-3" [ngClass.lt-md]="'mat-display-2'">
    Les promos Simplon
    <div class="mat-title" [ngClass.lt-md]="'mat-subheading-2'">Toutes les infos sur les promotions professionnelles</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly start" fxHide.lt-sm="true" class="img-container">
    <img src="../../assets/EnCours.jpg" alt="" class="img-rounded">
    <img src="../../assets/groupe.jpg" alt="" class="img-rounded">
    <img src="../../assets/P4.jpg" alt="" class="img-rounded">
  </div>
  <div fxLayout="row" fxLayoutAlign="center start" fxHide.gt-xs="true" fxShow.lt-sm="true" class="img-container">
    <img src="../../assets/P4.jpg" alt="" class="img-full">
  </div>
</div>
<div class="logo-container" fxLayout fxLayoutAlign="center start">
  <img src="../../assets/logo.png" alt="" class="logo">
</div>
<div class="presentation-container">
  <div class="mat-headline">
    Depuis 2016, La Poste a choisi l'entreprise Simplon pour permettre à ses collaborateurs de se reconvertir dans les métiers du numérique.
  </div>
  <div class="mat-headline">
    Ce site vous offre la possiblité de consulter diverses informations sur ces "simploniens" qui, depuis 4 ans, ont choisi de changer de métier et qui traversent ensemble ce parcours hors du commun.
  </div>
</div>

