.mat-display-2 {
  text-align: center;
  margin: 50px auto 20px auto;
}
mat-radio-group {
  width: 350px;
  margin: 0 auto 15px auto;
}

.field-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 420px;
}
@media (max-width: 600px){
  .mat-radio-group {
    text-align: center;
    padding-left: 40px;
  }
  .mat-radio-container{
    display: inline;
  }

  .field-container{
    width: 200px;
  }
}
@media (max-width: 400px){
  .mat-display-2{
    font-size: 35px;
  }
}
