.container {
  padding-top: 20px;
  width: 800px;
  margin: 0 auto;
}
h1{
  text-align: center;
  font-size: 40px;
}
.userList{
  width: 100%;
  margin: 100px auto 0 auto;

}
mat-list, mat-list-item {
  width: 100%;
}
