<div class="mat-typography">
  <h1>Liste des utilisateurs</h1>
  <form [formGroup]="searchForm"  >
  <div class="input-field" fxLayout="row" fxLayoutAlign="center">
    <input (keydown.enter)="onSubmitNomPrenom(searchForm.value)" id="search" type="search" required formControlName="search">
    <label  (click)="onSubmitNomPrenom(searchForm.value)"  class="label-icon" for="search"><i class="material-icons">search</i></label>
  </div>
  </form>
  <form [formGroup]="choixUser" fxLayout="row">
    <mat-radio-group class="choix-filtre" formControlName= "choixFiltreUser" (change)="affichageUtilisateur(choixUser.value)">
      <mat-radio-button  class="choix-User" value="Tous les utilisateurs">Tous les utilisateurs</mat-radio-button>
      <mat-radio-button  class="choix-User" value="Apprenants">Apprenants</mat-radio-button>
      <mat-radio-button  class="choix-User" value="Formateurs">Formateurs</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<app-recherche [utilisateurs]="utilisateurs" ></app-recherche>


