.container {
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px red solid;
}
h1{
  text-align: center;
  font-size: 40px;
}

mat-list-item {
  border: 1px yellow solid;
  width: 100%;
}
mat-list {
  border: 1px deeppink solid;
  width: 100%;
}
